@import './partials/vars';
@import './partials/generals';
@import './partials/utilities';

header,
footer {
    padding: 1.5rem 2rem;
    text-align: center;
}

header {
    background-color: $brand-color;
    color: white;
}

footer {
    background-color: $bg-light;
    color: $display-color;
}


.movies-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
}

.card {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $bg-light;
}