@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Sora', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $text-color;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: white;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: $display-color;
}